* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.parent {
    height: 100vh;
    width: 100vw;
    background-color: #123d4d;
    display: flex;
}

#brand {
    height: 100vh;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#brand-box {
    height: 40vh;
    /* width: 30vw; */
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 40px;
}

#name {
    height: 45px;
    width: 100%;
    /* border: 1px solid black; */
    color: #F97316;
    font-size: 20px;
    font-weight: bold;

}

#fee {
    height: 45px;
    width: 100%;
    font-size: 15px;
    font-weight: bold;
    /* border: 1px solid black; */
    color: white;
    font-family: Arial, Helvetica, sans-serif;

}

.form {
    height: 100vh;
    width: 50%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-box {
    /* height: 60%; */
    width: 60%;
    /* border: 1px solid black; */
    background-color: #101d2b;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 10px 5px 5px #274566;

}

#header {
    color: white;
    /* border: 1px solid black; */
    border-bottom: 1px solid gray;
    padding: 15px;

}

#email {
    color: white;
    /* border: 1px solid black; */
    padding: 15px;
}

#text {
    height: 50px;
    width: 100%;
    padding-left: 10px;
    background-color: #202938;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
}

p {
    margin-top: 10px;
}

#pass {
    color: white;
    /* border: 1px solid black; */
    padding: 15px;

}

.footer {
    /* border: 1px solid black; */
    border-top: 1px solid gray;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}


#login>button {
    padding: 10px 20px;
    color: white;
    border-radius: 8px;
    background-color: rgb(11, 157, 255);
    display: flex;
    align-items: end;
}

.forgot-pass {
    color: white;
}